@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("images/11.-Fuchsia_1.jpg");
}

a {
    text-decoration: none;
    color: #4B4C4B;
}

main {
    width: 70%;
    margin: auto;
    margin-top: 65px;
    height: 1650px;
    display: flex;

}

#left_side {
    width: 32%;
    height: 1650px;
    background-color: #EBEBEB;
    border-top-left-radius: 35px;

}

#image {
    width: 90%;
    margin: auto;
    height: 250px;
    margin-top: 15px;

}

#img {
    width: 300px;
    height: 300px;
    padding-left: 3px;
}

#personal_information {
    height: 170px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 35px;
    color: #4B4C4A;
}


.p_info {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}

#personal_information p {
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Inconsolata', monospace;
}

#contact_info {
    height: 400px;
    margin-top: 130px;

}

#ct {
    width: 80%;
    margin: auto;
    text-align: center;
}

#contact {
    font-size: 45px;
    font-family: 'Inconsolata', monospace;
    color: #4B4C4B;
    font-family: 'Roboto Condensed', sans-serif;
    
}

#wrapper {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    height: 250px;
    padding-left: 30px;
}

#svgs {
    float:left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    

}

.svg {
    width: 30px;
    height: 30px;
}

#contact_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    color: #4B4C4B;
}

/* right side */


#right_side {
    width: 66%;
    background-color: #FAFAFA;
    height: 1650px;
    border-top-right-radius: 35px ;
    
}

#name_surname_europass_logo {

    height: 240px;
}

#europass {
    width: 200px;
    margin-left: 480px;
}

#name_surname {
    font-family: 'Anton', sans-serif;
    font-size: 75px;
    padding-left: 55px;
    height: 120px;
    color: #333333;
}

#ocupation {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    color: #333333;
    padding-left: 55px;

}

#fgd {
    margin-top: 10px;
    height: 50px;
}

#brf_svg {
    float: left;
    border: 3px solid gray;
    border-radius: 20px;
    width: 55px;
    height: 50px;
    text-align: center;
    margin-left: 50px;
    background-color: #fff;
}

#briefcase {
    width: 50px;
    height: 50px;
}

#work_exp {

    width: 82%;
    margin-left: 77px;
    height: 47px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 50px;
    background-color: #EBEBEB;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #333333;
    padding-top: 7px;
}

#work_wrapper {
    width: 89%;
    margin-left: 78px;
    height: 130px;
    border-width: 0px 0px 3px 3px;
    border-style: solid;
    border-color: gray;
    border-bottom-left-radius: 15px;
    padding-top: 25px;
}

#year {
    float: left;
    font-size: 27px;
    margin-left: 45px;
    font-family: 'Inconsolata', monospace;
    color: #333333;
}

#general_w_info {
    width: 60%;
    margin-left: 240px;
    font-family: 'Inconsolata', monospace;
    font-size: 23px;
    color: #333333;

}

#inf {
    font-size: 18px;
}

#sgd {
    margin-top: 40px;
    height: 50px;
}

#mortarboard_svg {
    float: left;
    border: 3px solid gray;
    border-radius: 20px;
    width: 60px;
    height: 55px;
    text-align: center;
    margin-left: 50px;
    background-color: #fff;
}

#mortarboar {
    width: 50px;
    height: 50px;
}

#ed_exp {
    width: 82%;
    margin-left: 77px;
    height: 48px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 50px;
    background-color: #EBEBEB;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #333333;
    padding-top: 7px;
    margin-top: 2px;
}

#e_wrapper {
    width: 89%;
    margin-left: 78px;
    height: 250px;
    border-width: 0px 0px 3px 3px;
    border-style: solid;
    border-color: gray;
    border-bottom-left-radius: 15px;
    padding-top: 25px;
}

.year_info {
    float: left;
    font-size: 25px;
    margin-left: 45px;
    font-family: 'Inconsolata', monospace;
    color: #333333;
}


#f_wr {
    height: 100px;
}



#s_wr{
    margin-top: 20px;
    height: 100px;
}

#pupil_info {
   padding-left: 20px;
   width: 58%;
   margin-left: 250px;
   font-family: 'Inconsolata', monospace;
   font-size: 20px;
   color: #333333;
}

#student_info {
    width: 60%;
    margin-left: 265px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: #333333;
}

#tgd {
    margin-top: 40px;
    height: 50px;
}

#language_svg {
    float: left;
    border: 3px solid gray;
    border-radius: 20px;
    width: 60px;
    height: 55px;
    text-align: center;
    margin-left: 50px;
    background-color: #fff;
}

#language {
    width: 50px;
    height: 50px;
}

#lang_exp {
    width: 82%;
    margin-left: 75px;
    height: 48px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 50px;
    background-color: #EBEBEB;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #333333;
    padding-top: 7px;
    margin-top: 2px;
}

#lang_wrapper {
    width: 89%;
    margin-left: 78px;
    height: 280px;
    border-width: 0px 0px 3px 3px;
    border-style: solid;
    border-color: gray;
    border-bottom-left-radius: 15px;
    padding-top: 25px;
}

#m_t {
    font-size: 20px;
    margin-left: 45px;
    font-family: 'Inconsolata', monospace;
    color: #333333;
    padding-bottom: 20px;
}

#lang_rom {
    font-weight: bold;
}

.ff {
    margin-left: 45px;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    padding-bottom: 15px;
    color: #333333;
    font-weight: bold;
}

#ru {
    font-weight: bold;
    margin-left: 45px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #333333;
    font-family: 'Inconsolata', monospace;
}

table {
    margin-left: 18px;
    margin-bottom: 15px;
    font-family: 'Inconsolata', monospace;
}

table td {
    padding-left: 25px;
    padding-top: 3px;
}


#eng {
    margin-left: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333333;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
}

#fourth_g_d {
    margin-top: 40px;
    height: 50px;
}

#wrench_svg {
    float: left;
    border: 3px solid gray;
    border-radius: 20px;
    width: 60px;
    height: 55px;
    text-align: center;
    margin-left: 50px;
    background-color: #fff;
}

#wrench {
    width: 50px;
    height: 50px;
}

#skill_exp {
    width: 82%;
    margin-left: 75px;
    height: 48px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 50px;
    background-color: #EBEBEB;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #333333;
    padding-top: 7px;
    margin-top: 2px;
}

#skill_wrapper {
    width: 89%;
    margin-left: 78px;
    height: 280px;
    border-width: 0px 0px 3px 3px;
    border-style: solid;
    border-color: gray;
    border-bottom-left-radius: 15px;
    padding-top: 25px;
}

ul li {
    padding-bottom: 25px;
}

#first_list {
    margin-left: 45px;
    float: left;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    color: #333333;
}

#second_list {
    margin-left: 185px;
    float: left;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    color: #333333;
}